/* common css file */
.body-width {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
/* common css file */

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul > li {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 48px;
}
.fa-cart-shopping {
  margin-right: 8px;
}

.nav-font {
  color: rgba(137, 135, 161, 1);
}
/* nav bar */
/* banner........... */
.banner {
  display: flex;
  align-items: center;
  margin-top: 120px;
}
.banner-title {
  font-size: 4em;
  font-weight: 700;
}
.title-color {
  color: rgb(233, 90, 8);
}

.banner-des {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.4em;
  font-weight: 400;
}
/* banner........... */

/* flower boxx */
.flower-head{
    text-align: center;
}

/* .plants-part {
    padding: 120px 0;
} */

.flower-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.flower-container p {
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px;

}

.flower-container h3 {
    text-align: center;
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 20px;
}

.flower-button {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    padding: 18px 50px;
    border: none;
    color: white;
    background-color: rgb(233, 90, 8);
    cursor: pointer;
}
/* flower boxx */

/* badge section. */
.badge-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 120px;
}

.li-style{
    list-style: disc;
}

.badge-title{
font-size: 50px;
font-weight: 700;
/* text-align: left; */
}

.badge {
    width: 286px;
    position: absolute;
    right: -90px;
    top: -130px;
    animation: spin 10s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.badge-img{
    position: relative;
}
/* badge section. */

/* latest-deal */

.deal-title{
font-size: 3.12em;
font-weight: 700;
text-align: center;
}

.center-all{
    text-align: center;
    margin-bottom: 120px;
}

.promo-section {
  display: flex;
  gap: 20px;
/* align-items: center; */
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

}

.right-column {
  flex: 2;
}

.promo-box {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 160px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-box.large {
  height: 340px;
}

.promo-content {
  background-color: rgba(0, 0, 0, 0.4);
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.promo-content h3,
.promo-content h2 {
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.promo-content a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  align-items: center;
}

/* latest-deal */

/* Join Section */
.join-section {
  background-image: url(assets/news-letter-bg.png);
  /* text-align: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  padding-top: 160px;
  margin-top: 120px;
}

.join-title {
  color: rgb(255, 255, 255);
  font-size: 3.12em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.join-form {
  display: flex;
  justify-content: center;
  gap: 0;
}

.join-form input {
  width: 644px;
  height: 50px;
  padding: 8px 20px 8px 20px;
  margin-bottom: 220px;
}

.join-btn {
  width: 186px;
  height: 69px;
  padding: 26px 50px;
  border: none;
  background: rgb(233, 90, 8);
  color: white;
  font-size: 1em;
}
/* Join Section */

/* footerrr.... */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 110px;
}
li > a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-img img {
  /* display: inline;
   gap: 20px; */
  margin-left: 10px;
  margin-top: 30px;
}
/* footerrr.... */

/* Responsive.... */
@media screen and (max-width: 576px) {
  .nav-hide {
    display: none;
  }
  .ban-img {
    width: 100%;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .footer-container {
    flex-direction: column;
    /* padding-left: 10px; */
  }
  ul {
    padding-inline-start: 10px;
  }
  .body-width {
    /* max-width: 1140px; */
    margin-left: 10px;
    margin-right: 10px;
  }

  .join-section{
    /* background-position: center; */
    max-width: 100%;
    /* height: 200px; */
    margin-top: 44px;
}

.join-title {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  text-align: center;
  /* margin-bottom: 20px; */
}
  .join-form input {
    width: 150px;
    height: 30px;
  }

  .join-btn {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
  }

  .promo-section{
    flex-direction: column;
  }

  .badge-container{
    flex-direction: column;
  }
  .badge-img{
    width: 100%;
  }
  .badge{
    display: none;
  }

  .flower-card {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px 20px; */
}
.flower-container img{
    width: 100%;
}
.flower-button{
    padding: 10px 20px;
}
}
/* Responsive.... */
